html, body {
	height: 100%;
	width: 100%;
}
body {
	padding: 0;
	margin: 0;
}
nav a:last-child {
	margin-right: 0;
}
a:hover, a:focus {
	color: #eb3812;
}
h1 {
	margin: 0;
	padding: 0;
	height: 0px;
	text-align: center;
}
p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
header {
	width: 100%;
	height: 100px;
	background-color: #ccc;
}
header button {
	background: #e29839;
	color: #fff;
	cursor: pointer;
	right: 0;
	padding: 10px 5%;
	position: absolute;
	top: 0;
}
nav {
	width: 100%;
	padding-top: 62px;
}
nav a {
	color: #FFF;
	display: block;
	width: 33%;
	text-align: center;
	background: #888;
	padding: 10px 0;
	float: left;
	margin-right: 0.5%;
}
.main {
	position:relative;
	min-height:100%;
	width: 100%;
}
#content {
	background-color: #fff;
	position:absolute;
	z-index: 10;
}
.sidebar {
	background:#e29839;
	height: 65%;
	width: 30%;
	position: absolute;
	z-index: 0;
	right: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
#main {
	transition: margin-left .5s;
}
.sidebar {
	padding-top: 15px;
}
.sidebar a {
	font-size: 18px;
}
article {
	float: left;
	width: 30%;
	margin: 10px 1.7%;
}
article img {
	max-height: 225px;
	width: 100%;
}
article:last-child {
	margin-right: 0;
}
footer {
	background-color: #000;
	bottom:0;
	height: 40px;
	width: 100%;
	clear: both;
	color: #fff;
	text-align: center;
	padding: 30px 0 1px;
	position:absolute;
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
article {
	float: none;
	width: 100%;
	margin: 10px 0;
}
}
